extends layout

block content
    body#contact
        // MAIN CONTENT
        main.mainContent
            // MAIN CONTENT - HEADER
            section.mainContent_header
                .overlap_main_header
                .banner
                    .titles
                        .subtitle
                            | THE ULTIMATE LUXURY
                        .title
                            h1 Ultimate Room
            // MAIN CONTENT - CONTACT DETAILS
            section.contact_details.desktop
                .details.address
                    .icon-grid
                        i.fas.fa-home
                    .text-grid
                        .title Office Address
                        .info
                            p 19/A Cirikon Citty hall Tower, New York, NYC
                .details.phone
                    .icon-grid
                        i.fas.fa-phone
                    .text-grid
                        .title Phone Number
                        .info
                            p +97656 8675 7864 7
                            p +876 766 8575 765 6
                .details.email
                    .icon-grid
                        i.fas.fa-mail-bulk
                    .text-grid
                        .title Email Address
                        .info
                            p info@webmail.com
                            p jobs.info@webmail.com
            // MAIN CONTENT - MAP
            //
                <div class="map desktop">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830929283!2d-74.11976365596463!3d40.697663748538346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses!2ses!4v1637499943335!5m2!1ses!2ses"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            .testing_map
                .map_form
                    label(for='inputDirection') Origin Direction:
                    input#inputDirection(type='text' name='direction')
                    button#submit(type='submit') Search
                .map_info
                    div
                        | Origin: 
                        span#origin
                    div
                        | Destination: 
                        span#destination
                    div
                        | Distance: 
                        span#distance
                    div
                        | Duration: 
                        span#duration
                .map_form2
                    label(for='a') Select Area: 
                    select#ac_select(name='ac')
                        option(value='')
                        option(value='andalucia') Andalucía
                        option(value='aragon') Aragon
                        option(value='asturias') Asturias
                        option(value='islas_baleares') Islas baleares
                        option(value='canarias') Canarias
                        option(value='cantabria') Cantabria
                        option(value='castilla_la_mancha') Castilla la mancha
                        option(value='castilla_y_leon') Castilla y leon
                        option(value='cataluna') Cataluña
                        option(value='valencia') Valencia
                        option(value='extremadura') Extremadura
                        option(value='galicia') Galicia
                        option(value='la_rioja') La_rioja
                        option(value='madrid') Madrid
                        option(value='murcia') Murcia
                        option(value='navarra') Navarra
                        option(value='pais_vasco') Pais vasco
                    // <button type="submit" id="submit_form2">Select AC</button>
            #google_map.map.desktop
            // MAIN CONTENT - CONTACT FORM
            section#contactForm
                form#userContactForm(action='')
                    .input-container
                        .input_icon
                            i.fas.fa-user
                        input.input-field(type='text' placeholder='Your full name' name='fullName')
                    .input-container
                        .input_icon
                            i.fas.fa-envelope
                        input.input-field(type='text' placeholder='Enter e-mail address' name='email')
                    .input-container
                        .input_icon
                            i.fas.fa-phone
                        input.input-field(type='text' placeholder='Add phone number' name='phone')
                    .input-container
                        .input_icon
                            i.fas.fa-file
                        select.select-field(form='userForm' name='selectSubject')
                            option(disabled='' selected='') Select Subject
                            option(value='Option One') Option One
                            option(value='Option Two') Option Two
                            option(value='Option Three') Option Three
                    .textarea-container
                        .textarea_icon
                            i.fas.fa-pen
                        textarea.textArea(name='comment' form='userForm' rows='8' placeholder='Enter messages')
                    button.button.button_brown(type='button') GET FREE QUOTE
            // MAIN CONTENT - CONTACT DETAILS
            section.contact_details.noDesktop
                .details.address
                    .icon-grid
                        i.fas.fa-home
                    .text-grid
                        .title Office Address
                        .info
                            p 19/A Cirikon Citty hall Tower, New York, NYC
                .details.phone
                    .icon-grid
                        i.fas.fa-phone
                    .text-grid
                        .title Phone Number
                        .info
                            p +97656 8675 7864 7
                            p +876 766 8575 765 6
                .details.email
                    .icon-grid
                        i.fas.fa-mail-bulk
                    .text-grid
                        .title Email Address
                        .info
                            p info@webmail.com
                            p jobs.info@webmail.com
            // MAIN CONTENT - MAP
            //
                <div class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830929283!2d-74.11976365596463!3d40.697663748538346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses!2ses!4v1637499943335!5m2!1ses!2ses"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            //
                <div class="map">
                </div>
