doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title=title   
    // FONT AWESOME
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous')
    // CSS STYLES
    link(rel='stylesheet' href='stylesheets/styles.css')


// HEADER
header#top
    nav
        .bars(onclick="document.querySelectorAll('.animation').forEach((el) => el.classList.toggle('active'));")
            i.fas.fa-bars
        .drop_down.animation
            ul.animation
                li
                    a.button(href='./about_us') About Us
                li
                    a.button(href='./room_grid') Rooms
                li
                    a.button(href='./offers') Offers
                li
                    a.button(href='') Room Details
                li
                    a.button(href='./contact_us') Contact
            .container_logoH_nav
                a(href='./')
                    .logoH H
                    div
                        span.bold HOTEL
                        br
                        |                      MIRANDA
            .container_headerInfo
                .info_container.container_headerInfo_phone
                    .info
                        .title Phone Number
                        .data 648714734
                    .fakeIcon
                        .fakeIcon_top
                            i.fas.fa-phone
                .info_container.container_headerInfo_email
                    .info
                        .title Email Address
                        .data daniel.revenga.garcia@gmail.com
                    .fakeIcon
                        .fakeIcon_top
                            i.fas.fa-envelope
    .container_logoH
        div
            span.bold HOTEL
            br
            |             MIRANDA


block content


    // BODY
    .body
        .logo_section
            .logo_title
                .logo H
                .title
                    span Hotel
                    |  Miranda
            div
                p
                    | Lorem ipsum dolor sit amet consectetur,
                    | adipisicing elit. Ducimus vel fuga perspiciatis
                    | excepturi nulla odio illo labore tenetur voluptates temporibus!
        .services_section
            .title Services.
            ul
                li
                    span +
                    |  Restaurant &amp; Bar
                li
                    span +
                    |  Swimming Pool
                li
                    span +
                    |  Wellness &amp; Spa
                li
                    span +
                    |  Restaurant
                li
                    span +
                    |  Conference Room
                li
                    span +
                    |  Coctail Party House
                li
                    span +
                    |  Gaming Zone
                li
                    span +
                    |  Marrige Party
                li
                    span +
                    |  Party Planning
                li
                    span +
                    |  Tour Consultancy
        .contactUs_section
            .title Contact Us.
            .contacts
                .contact
                    .icon
                        i.fas.fa-phone-alt
                    .info_container
                        .title Phone Number
                        .info +987 876 765 76 577
                .contact
                    .icon
                        i.fas.fa-envelope-open-text
                    .info_container
                        .title Email Address
                        .info info@webmail.com
                .contact
                    .icon
                        i.fas.fa-map-marker-alt
                    .info_container
                        .title Office Address
                        .info 14/A, Miranda City, NYC
    // COPYRIGHT
    .copy
        | copyright by@example
    // RRSS
    .rrss
        div
            i.fab.fa-facebook-f
        div
            i.fab.fa-twitter
        div
            i.fab.fa-instagram-square
        div
            i.fab.fa-linkedin
        div
            i.fab.fa-youtube


// FOOTER
footer
    // BODY
    .body
        .logo_section
            .logo_title
                .logo H
                .title
                    span Hotel
                    |  Miranda
            div
                p
                    | Lorem ipsum dolor sit amet consectetur,
                    | adipisicing elit. Ducimus vel fuga perspiciatis
                    | excepturi nulla odio illo labore tenetur voluptates temporibus!
        // RRSS
        .rrss
            div
                a(href='https://github.com/DanielRevenga')
                    i.fab.fa-github
            div
                a(href='https://www.linkedin.com/in/daniel-revenga-mern-stack/')
                    i.fab.fa-linkedin
            //
                <div>
                <a href=""><i class="fab fa-twitter"></i></a>
                </div>
                <div>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                </div>
                <div>
                <a href=""><i class="fab fa-youtube"></i></a>
                </div>
        //
            <div class="services_section">
            <div class="title">Services.</div>
            <ul>
            <li><span>+</span> Restaurant & Bar</li>
            <li><span>+</span> Swimming Pool</li>
            <li><span>+</span> Wellness & Spa</li>
            <li><span>+</span> Restaurant</li>
            <li><span>+</span> Conference Room</li>
            <li><span>+</span> Coctail Party House</li>
            <li><span>+</span> Gaming Zone</li>
            <li><span>+</span> Marrige Party</li>
            <li><span>+</span> Party Planning</li>
            <li><span>+</span> Tour Consultancy</li>
            </ul>
            </div>
        .contactUs_section
            .title Contact Us.
            .contacts
                .contact
                    .icon
                        i.fas.fa-phone-alt
                    .info_container
                        .title Phone Number
                        .info 648714734
                .contact
                    .icon
                        i.fas.fa-envelope-open-text
                    .info_container
                        .title Email Address
                        .info daniel.revenga.garcia@gmail.com
                .contact
                    .icon
                        i.fas.fa-map-marker-alt
                    .info_container
                        .title Office Address
                        .info OXYGEN, Princesa 31, Madrid
    // COPYRIGHT
    .copy
        | copyright by@DanielRevenga
