extends layout

block content
    body#reservation
        // MAIN CONTENT
        main.mainContent
            // MAIN CONTENT - HEADER
            section.mainContent_header
                .subtitle
                    | The ultimate luxury
                .title
                    | Ultimate Room
                .secondary_nav
                    div
                        span
                            a(href='./') Home
                            |  |
                        |  Room Details
            // HEADER 2 + AVAILABILITY
            section.header2_availability
                // MAIN CONTENT - HEADER 2
                section.mainContent_header2
                    .extra-banner
                        .title
                            h1 Habitación XXX
                        .price
                            p
                                | $345
                                span.price-info /Night
                // MAIN CONTENT - AVAILABILITY
                section.availability
                    .check-subtitle
                        .line
                        h5 Check Availability
                    form(action='')
                        .check-in.form-control
                            label(for='checkIn') Check In
                            input.checkIn.flatpickr(name='checkIn' type='date' placeholder='Check in')
                        .check-out.form-control
                            label(for='checkOut') Check Out
                            input.checkOut.flatpickr(name='checkOut' type='date' placeholder='Check out')
                        .first_name.form-control
                            label(for='first_name') Fisrt Name
                            input.first_name(name='first_name' type='text' placeholder='First name')
                        .last_name.form-control
                            label(for='last_name') Last name
                            input.last_name(name='last_name' type='text' placeholder='Last name')
                        .email.form-control
                            label(for='email') Email
                            input.email(name='email' type='email' placeholder='Email')
                        .tlf.form-control
                            label(for='tlf') Phone
                            input.tlf(name='phone' type='text' placeholder='Phone')
                        .comment.form-control.textarea-control
                            label(for='comment') Comment
                            textarea#comment(name='comment' cols='30' rows='5' placeholder='Comment')
                    .check-button
                        button.checkButton.button.button_brown(type='button') CHECK AVAILABILITY
            // ARTICLE
            section.article
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis inventore rem quibusdam perspiciatis
                    | facilis delectus eum veniam explicabo libero, magnam reprehenderit consectetur dicta sit ratione, optio
                    | porro tempora rerum tempore, voluptate nemo? Doloribus soluta facilis ea animi voluptatem iusto eius
                    | reiciendis ipsam dolor unde, ut, deserunt deleniti! Temporibus alias tenetur aperiam reprehenderit!
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis inventore rem quibusdam perspiciatis
                    | facilis delectus eum veniam explicabo libero, magnam reprehenderit consectetur dicta sit ratione, optio
                    | porro tempora rerum tempore, voluptate nemo? Doloribus soluta facilis ea animi voluptatem iusto eius
                    | reiciendis ipsam dolor unde, ut, deserunt deleniti! Temporibus alias tenetur aperiam reprehenderit!
            // AMENITIES
            section.amenities-section
                h4 Amenities
                hr
                .amenities
                    .column-one
                        .icon-grid
                            i.fas.fa-fan
                        .text-grid
                            p Air conditioner
                        .icon-grid
                            i.fas.fa-coffee
                        .text-grid
                            p Breakfast
                        .icon-grid
                            i.fas.fa-broom
                        .text-grid
                            p Cleaning
                        .icon-grid
                            i.fas.fa-shopping-basket
                        .text-grid
                            p Grocery
                        .icon-grid
                            i.fas.fa-store-alt
                        .text-grid
                            p Shop Near
                    .column-two
                        .icon-grid
                            i.fas.fa-wifi
                        .text-grid
                            p High speed WiFi
                        .icon-grid
                            i.fas.fa-sink
                        .text-grid
                            p Kitchen
                        .icon-grid
                            i.fas.fa-shower
                        .text-grid
                            p Shower
                        .icon-grid
                            i.fas.fa-bed
                        .text-grid
                            p Single bed
                        .icon-grid
                            i.fas.fa-ticket-alt
                        .text-grid
                            p Towels
                    .column-three
                        .icon-grid
                            i.fas.fa-lock
                        .text-grid
                            p Strong Locker
                        .icon-grid
                            i.fas.fa-laptop-house
                        .text-grid
                            p Smart Security
                        .icon-grid
                            i.fab.fa-teamspeak
                        .text-grid
                            p 24/7 Online Support
                        .icon-grid
                            i.fas.fa-users-cog
                        .text-grid
                            p Expert Team
            // TESTIMONIALS
            section.testimonials
                .head
                    .subtitle Testimonials
                    .title Client feedback
                .client_cards
                    .client_card
                        .img_container
                            .check
                                i.fas.fa-check
                            img(src='../img/testimonials/portrait_1.jpg' alt='')
                        .name Rosalina D. William
                        .role Founder, QUX CO.
                        p
                            | Lorem ipsum dolor sit amet consectetur
                            | adipisicing elit. Amet quaerat maxime unde
                            | atque dolorem corrupti.
                    .client_card
                        .img_container
                            .check
                                i.fas.fa-check
                            img(src='../img/testimonials/portrait_2.jpg' alt='')
                        .name Donald H. Hilixer
                        .role Founder, QUX CO.
                        p
                            | Lorem ipsum dolor sit amet consectetur
                            | adipisicing elit. Amet quaerat maxime unde
                            | atque dolorem corrupti.
                .info
                    | Each of our nine lovely double guest rooms feature a private
                    | bath, wi-fi, cable televisiion and include full breakfast
            // CANCELATION
            section.cancelation
                h4 Cancellation
                hr
                p
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti laborum consequuntur earum? Tenetur,
                    | ut. Iure nemo laboriosam facilis ratione at laudantium debitis
            // MAP
            section.map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830929283!2d-74.11976365596463!3d40.697663748538346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses!2ses!4v1637499943335!5m2!1ses!2ses' style='border:0;' allowfullscreen='' loading='lazy')
            // RELATED ROOMS
            section.related_rooms
                h2 Related Rooms
                .related_room
                    a(href='./reservation')
                        .room-image
                            .icons-bar
                                ul
                                    li
                                        i.fas.fa-bed
                                    li
                                        i.fas.fa-wifi
                                    li
                                        i.fas.fa-car-side
                                    li
                                        i.fas.fa-coffee
                                    li
                                        i.fas.fa-utensils
                                    li
                                        i.fas.fa-shower
                                    li
                                        i.fas.fa-tv
                    .room_footer
                        a.room_footer_title(href='./reservation')
                            h3 Minimal Duplex Room
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae esse tempore quo
                        .info
                            .price
                                | $345
                                span /Night
                            a(href='./reservation')
                                .booking Booking Now
                .related_room
                    a(href='./reservation')
                        .room-image
                            .icons-bar
                                ul
                                    li
                                        i.fas.fa-bed
                                    li
                                        i.fas.fa-wifi
                                    li
                                        i.fas.fa-car-side
                                    li
                                        i.fas.fa-coffee
                                    li
                                        i.fas.fa-utensils
                                    li
                                        i.fas.fa-shower
                                    li
                                        i.fas.fa-tv
                    .room_footer
                        a.room_footer_title(href='./reservation')
                            h3 Minimal Duplex Room
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae esse tempore quo
                        .info
                            .price
                                | $345
                                span /Night
                            a(href='./reservation')
                                .booking Booking Now
        // ANCHOR TOP
        a.anchorTop(href='#top')
            i.fas.fa-arrow-up
