extends layout

block content
    // MAIN CONTENT
    main#room_grid
        // MAIN CONTENT - HEADER
        section.mainContent_header
            .subtitle
                | The ultimate luxury
            .title
                | Ultimate Room
            .secondary_nav
                div
                    span
                        a(href='./') Home
                        |  |
                    |  Rooms
        // MAIN CONTENT - BODY
        .mainContent_body
            // ROOMS
            section.rooms
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
                // ROOM
                .room
                    a.room_img_link(href='./reservation')
                        .room_img
                    .room_body
                        .icon_list
                            ul
                                li
                                    i.fas.fa-bed
                                li
                                    i.fas.fa-wifi
                                li
                                    i.fas.fa-car-side
                                li
                                    i.fas.fa-coffee
                                li
                                    i.fas.fa-utensils
                                li
                                    i.fas.fa-shower
                                li
                                    i.fas.fa-tv
                        .body_info
                            a(href='./reservation')
                                .title Minimal Duplex Room
                            p
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                | Quis inventore voluptatem nesciunt accusamus provident
                                | aspernatur velit assumenda porro iure unde.
                    .extra_info
                        .price
                            | $345
                            span /Night
                        .hl
                        a(href='./reservation')
                            .booking Booking Now
    // ANCHOR TOP
    a.anchorTop(href='#top')
        i.fas.fa-arrow-up
